05.05_2.json
[{"id":"2c3006f8.07497a","type":"tab","label":"5/5_2","disabled":false,"info":""},{"id":"b38dfaa.ba3ee08","type":"ui_button","z":"2c3006f8.07497a","name":"","group":"e2603cb7.5b3a8","order":0,"width":0,"height":0,"passthru":false,"label":"ola","tooltip":"Acione para ter uma surpresa","color":"","bgcolor":"","icon":"fa-handshake-o","payload":"ola mundo dashboard","payloadType":"str","topic":"payload","topicType":"msg","x":130,"y":80,"wires":[["5040f4b6.0a6dec"]]},{"id":"5040f4b6.0a6dec","type":"ui_text","z":"2c3006f8.07497a","group":"e2603cb7.5b3a8","order":1,"width":0,"height":0,"name":"","label":"mensagem recebida:","format":"{{msg.payload}}","layout":"col-center","x":330,"y":80,"wires":[]},{"id":"9153d994.c66a68","type":"ui_text_input","z":"2c3006f8.07497a","name":"","label":"Informe seu nome:","tooltip":"Digite aqui o nome do usuário","group":"c796a621.e12dd8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"payload","topicType":"msg","x":160,"y":160,"wires":[["2a1d5dd6.f20352"]]},{"id":"2a1d5dd6.f20352","type":"ui_text","z":"2c3006f8.07497a","group":"c796a621.e12dd8","order":1,"width":0,"height":0,"name":"","label":"Mensagem recebida:","format":"{{msg.payload}}","layout":"col-center","x":370,"y":160,"wires":[]},{"id":"d8e4c6c7.7b5988","type":"ui_slider","z":"2c3006f8.07497a","name":"","label":"slider","tooltip":"","group":"e2603cb7.5b3a8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":120,"y":220,"wires":[["7a476312.02bb2c"]]},{"id":"7a476312.02bb2c","type":"ui_gauge","z":"2c3006f8.07497a","name":"","group":"e2603cb7.5b3a8","order":3,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":220,"wires":[]},{"id":"e2603cb7.5b3a8","type":"ui_group","name":"Ola mundo","tab":"6d798249.22f75c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c796a621.e12dd8","type":"ui_group","name":"Entrada texto","tab":"6d798249.22f75c","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d798249.22f75c","type":"ui_tab","name":"Fatec","icon":"fa-bandcamp","disabled":false,"hidden":false}]