05.05_1.json
[{"id":"b4afad64.98bdf","type":"tab","label":"5/5_1","disabled":false,"info":""},{"id":"6943e614.5ab5c8","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ola mundo","payloadType":"str","x":180,"y":120,"wires":[["e49bfe89.6c2a5"]]},{"id":"e49bfe89.6c2a5","type":"debug","z":"b4afad64.98bdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"1c62203.9165fe","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ola mundo","payloadType":"flow","x":200,"y":220,"wires":[["3f954d81.e5fa52"]]},{"id":"c3bc818.574c38","type":"debug","z":"b4afad64.98bdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"3f954d81.e5fa52","type":"change","z":"b4afad64.98bdf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Embarcados","tot":"str"},{"t":"set","p":"curso","pt":"flow","to":"mecatrônica","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["c3bc818.574c38"]]},{"id":"28bc383d.d040d8","type":"debug","z":"b4afad64.98bdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"2c721e1e.97a1b2","type":"change","z":"b4afad64.98bdf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"curso","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["28bc383d.d040d8"]]},{"id":"837e39ac.d32b18","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["2c721e1e.97a1b2"]]},{"id":"4c926da9.9113e4","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":420,"wires":[["9aea62b9.0b994"]]},{"id":"9aea62b9.0b994","type":"switch","z":"b4afad64.98bdf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":480,"wires":[["db3fb81a.b47868"],["dd2f0f3a.18bb7"],["dd00fbb6.439e58"]]},{"id":"db3fb81a.b47868","type":"change","z":"b4afad64.98bdf","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"mecatronica","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":420,"wires":[[]]},{"id":"dd2f0f3a.18bb7","type":"change","z":"b4afad64.98bdf","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"Midorya","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[[]]},{"id":"dd00fbb6.439e58","type":"change","z":"b4afad64.98bdf","name":"","rules":[{"t":"set","p":"curso","pt":"flow","to":"Levi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[[]]},{"id":"77cb7af0.515104","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":170,"y":480,"wires":[["9aea62b9.0b994"]]},{"id":"df90f2ea.d6bca","type":"inject","z":"b4afad64.98bdf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":170,"y":540,"wires":[["9aea62b9.0b994"]]}]