12.05.json
[{"id":"9a3e39b.afd5ec8","type":"tab","label":"12/05","disabled":false,"info":""},{"id":"65b88af.ea5e174","type":"inject","z":"9a3e39b.afd5ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["7fc20f3d.f7b96"]]},{"id":"5fa4313d.62373","type":"http request","z":"9a3e39b.afd5ec8","name":"","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":100,"wires":[["dc9ae4d2.a8ab68","47ae3c0d.70e014","bebd4b12.617c78","b41a87b0.0e2868"]]},{"id":"7fc20f3d.f7b96","type":"change","z":"9a3e39b.afd5ec8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"api.openweathermap.org/data/2.5/weather?q={city name},{state code}&appid={API key}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["5fa4313d.62373"]]},{"id":"dc9ae4d2.a8ab68","type":"debug","z":"9a3e39b.afd5ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"6c190d37.a70ee4","type":"ui_button","z":"9a3e39b.afd5ec8","name":"","group":"a9d68226.da27e","order":0,"width":0,"height":0,"passthru":false,"label":"Atualizar a temperatura","tooltip":"Clique para atualizar os dados do clima","color":"","bgcolor":"","icon":"fa-handshake-o","payload":"ola mundo dashboard","payloadType":"str","topic":"payload","topicType":"msg","x":130,"y":200,"wires":[["7fc20f3d.f7b96"]]},{"id":"47ae3c0d.70e014","type":"ui_text","z":"9a3e39b.afd5ec8","group":"a9d68226.da27e","order":1,"width":0,"height":0,"name":"","label":"Temperatura atual (Graus C)","format":"{{msg.payload.main.temp}}","layout":"col-center","x":680,"y":160,"wires":[]},{"id":"bebd4b12.617c78","type":"ui_text","z":"9a3e39b.afd5ec8","group":"a9d68226.da27e","order":2,"width":0,"height":0,"name":"","label":"Umidade relativa","format":"{{msg.payload.main.humidity}}","layout":"col-center","x":650,"y":200,"wires":[]},{"id":"b41a87b0.0e2868","type":"ui_gauge","z":"9a3e39b.afd5ec8","name":"","group":"a9d68226.da27e","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{msg.payload.main.temp}}","min":0,"max":"30","colors":["#0086b3","#50e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":260,"wires":[]},{"id":"a9d68226.da27e","type":"ui_group","name":"Clima","tab":"ca3c5c5a.27a83","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca3c5c5a.27a83","type":"ui_tab","name":"HTTP","icon":"wi-darksky-tornado","disabled":false,"hidden":false}]