19.05.json
[{"id":"25164e57.541452","type":"tab","label":"19/05","disabled":false,"info":""},{"id":"a09641d.20ca3c","type":"http in","z":"25164e57.541452","name":"","url":"/ola","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["14546298.053b6d"]]},{"id":"55d1ee9a.fb468","type":"http response","z":"25164e57.541452","name":"","statusCode":"200","headers":{},"x":580,"y":100,"wires":[]},{"id":"14546298.053b6d","type":"template","z":"25164e57.541452","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \n    \"mensagem\":\"ola\"\n}","output":"str","x":380,"y":100,"wires":[["55d1ee9a.fb468"]]},{"id":"b54959e9.e4a0e8","type":"http in","z":"25164e57.541452","name":"","url":"/ola-nome","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["7b41abad.638194"]]},{"id":"1867c573.dcf58b","type":"http response","z":"25164e57.541452","name":"","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"7b41abad.638194","type":"function","z":"25164e57.541452","name":"","func":"\nmsg.payload = {\n    \"nome-enviado\":msg.req.query.nome,\n    \"tamanho\":msg.req.query.nome.length\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["1867c573.dcf58b"]]},{"id":"8e2431da.76b8e","type":"http in","z":"25164e57.541452","name":"","url":"/calculadora","method":"get","upload":false,"swaggerDoc":"","x":180,"y":240,"wires":[["d4b4c344.fafee"]]},{"id":"f8f7101b.2ceae","type":"http response","z":"25164e57.541452","name":"","statusCode":"","headers":{},"x":590,"y":240,"wires":[]},{"id":"d4b4c344.fafee","type":"function","z":"25164e57.541452","name":"","func":"var num1 = parseInt(msg.req.query.n1, 10); //Converte String para Int\nvar num2 = parseInt(msg.req.query.n2, 10);\nvar resultado = num1+num2;\nmsg.payload = {\n    \"num1\":num1,\n    \"num2\":num2,\n    \"operacao\":\"+\",\n    \"resultado\":resultado\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":240,"wires":[["f8f7101b.2ceae"]]},{"id":"89cffae0.9ed338","type":"http in","z":"25164e57.541452","name":"","url":"/calculadora-basica","method":"get","upload":false,"swaggerDoc":"","x":210,"y":300,"wires":[["eb8f5a14.0f88d8"]]},{"id":"6bbd5dce.f5ad34","type":"http response","z":"25164e57.541452","name":"","statusCode":"","headers":{},"x":590,"y":300,"wires":[]},{"id":"eb8f5a14.0f88d8","type":"function","z":"25164e57.541452","name":"","func":"var num1 = parseInt(msg.req.query.n1, 10); //Converte String para Intvar num2 = parseInt(msg.req.query.n2, 10);\nvar operacao = msg.req.query.operacao;\nvar resultado;\nif (operacao == \"+\")\n    resultado = num1+num2;\nelse if(operacao == \"-\")\n    resultado = num1-num2;\nelse if(operacao == \"*\")\n    resultado = num1*num2;\nelse if(operacao == \"/\")\n    resultado = num1/num2;\nmsg.payload = {\n    \"num1\":num1,\n    \"num2\":num2,\n    \"operacao\":operacao,\n    \"resultado\":resultado};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["6bbd5dce.f5ad34"]]},{"id":"cdf755ad.fae0c8","type":"ui_switch","z":"25164e57.541452","name":"","label":"switch","tooltip":"","group":"f9a113d7.4a364","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":360,"wires":[["c9f7a132.6a8db"]]},{"id":"4db4790.ce55c88","type":"ui_slider","z":"25164e57.541452","name":"","label":"slider","tooltip":"","group":"f9a113d7.4a364","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":150,"y":420,"wires":[["a11c8229.cc431"]]},{"id":"c559bd9e.c8ce9","type":"ui_gauge","z":"25164e57.541452","name":"","group":"d2769ef1.2e8c1","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":480,"wires":[]},{"id":"c9f7a132.6a8db","type":"change","z":"25164e57.541452","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[[]]},{"id":"a11c8229.cc431","type":"change","z":"25164e57.541452","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[[]]},{"id":"97f1c89b.a4cab8","type":"trigger","z":"25164e57.541452","name":"","op1":"gauge","op2":"0","op1type":"flow","op2type":"str","duration":"300","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":480,"wires":[["c559bd9e.c8ce9"]]},{"id":"d47025cc.f650c8","type":"change","z":"25164e57.541452","name":"","rules":[{"t":"set","p":"slider","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"gauge","pt":"flow","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[[]]},{"id":"d1dd0978.ae26c8","type":"inject","z":"25164e57.541452","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":540,"wires":[["d47025cc.f650c8","97f1c89b.a4cab8"]]},{"id":"88b51d9a.c337","type":"http in","z":"25164e57.541452","name":"","url":"/get-status","method":"get","upload":false,"swaggerDoc":"","x":160,"y":600,"wires":[["79d0eca4.95c574"]]},{"id":"a3622fce.90d7f","type":"http response","z":"25164e57.541452","name":"","statusCode":"","headers":{},"x":590,"y":600,"wires":[]},{"id":"79d0eca4.95c574","type":"function","z":"25164e57.541452","name":"","func":"msg.payload = {\n    \"slider\":flow.get(\"slider\"),\n    \"gauge\":flow.get(\"gauge\"),\n    \"switch\":flow.get(\"switch\")\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["a3622fce.90d7f"]]},{"id":"e889e9b7.f2b848","type":"http in","z":"25164e57.541452","name":"","url":"/atualiza-gauge","method":"post","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["af3e2cfb.d2503"]]},{"id":"3a776b0b.a3f974","type":"http response","z":"25164e57.541452","name":"","statusCode":"","headers":{},"x":590,"y":660,"wires":[]},{"id":"af3e2cfb.d2503","type":"function","z":"25164e57.541452","name":"","func":"//pega o valor que veio no post\nvar novo_gauge = msg.payload.value;\n//Seta o valor que do post dentro do gauge\nflow.set(\"gauge\",novo_valor);\n//prepara o retorno para a requisição \nmsg.payload = {\n    \"slider\":flow.get(\"slider\"),\n    \"gauge\":flow.get(\"gauge\"),\n    \"switch\":flow.get(\"switch\")\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["3a776b0b.a3f974"]]},{"id":"f9a113d7.4a364","type":"ui_group","name":"Entrada","tab":"148c9437.1305fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2769ef1.2e8c1","type":"ui_group","name":"Saida","tab":"148c9437.1305fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"148c9437.1305fc","type":"ui_tab","name":"Servidor HTTP","icon":"dashboard","disabled":false,"hidden":false}]